<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="EmailAccount.1.EmailAddress" value="chrismfellows@hotmail.co.uk"/>
      <add key="EmailAccount.1.Password" value=""/>
      <add key="EmailAccount.1.LocalEmailFolder" value="C:\Data\Emails\chrismfellows@hotmail.co.uk"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
